@tailwind base;
@tailwind components;
@tailwind utilities;

/*  custom clases */
.ellipsis {
	@apply whitespace-nowrap overflow-hidden text-ellipsis;
}

.flex-center {
	@apply justify-center items-center;
}

::-webkit-scrollbar {
	width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #cfcaca00;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(112, 111, 111);
}
